.modal__overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 64, 75, 0.774);
  color: var(--accent-dark-color);
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay-disabled {
  display: none;
}

.modal__window {
  padding: 20px;
  min-width: 350px;
  max-height: fit-content;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  position: relative;
}

.button_close {
  position: absolute;
  top: -23px;
  right: -30px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--accent-dark-color);
}

.form__input.input {
  width: 350px;
}
.form__input.id {
  width: 150px;
}
.profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
