.card {
  width: 300px;
  min-height: 100px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  cursor: pointer;
  color: #fff;
}

.card__title {
   max-width: 280px;
}
.card__span {
 
}
.current-tasks__hi .card {
  background-color: var(--high-pr-color);
}

.current-tasks__mid .card {
  background-color: var(--medium-pr-color);
}

.current-tasks__low .card {
  background-color: var(--low-pr-color);
}
